<!--Navigation & Intro-->
<link rel="stylesheet" type="text/css" href="stylesheets/main-stylesheet.css">
<header>

    <!--Navbar-->
    <nav class="navbar navbar-toggleable-md navbar-dark fixed-top scrolling-navbar" style="background-color: black;">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand waves-effect waves-light" href="http://mdbootstrap.com/material-design-for-bootstrap/" target="/#/main">Cine Show</a>
            <div class="collapse navbar-collapse" id="navbarNav1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link">Latest Releases<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link">Popular</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Top Rated</a>
                    </li>
                    <!--<li class="nav-item dropdown btn-group" dropdown>
                        <a dropdownToggle ripple-radius type="button" class="nav-link dropdown-toggle">
                        Basic dropdown<span class="caret"></span></a>
                        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="divider dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>-->
                    <li class="nav-item dropdown">
                        <!--<a class="nav-link dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Movies By Genre</a>
                        <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu2">
                            <a class="dropdown-item">Action</a>
                            <a class="dropdown-item">Another action</a>
                            <a class="dropdown-item">Something else here</a>
                        </div>-->
                        <a class="dropbtn">Movies By Genre</a>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Coming Soon</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Favorites</a>
                    </li>
                </ul>
                <!--Navbar icons-->
                <ul class="nav navbar-nav nav-flex-icons ml-auto">
                    <li class="nav-item dropdown">
                        <!--<a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i></a>
                        <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item">Action</a>
                            <a class="dropdown-item">Another action</a>
                            <a class="dropdown-item">Something else here</a>
                        </div>-->
                        <a class="dropbtn"><i class="fa fa-user"></i></a>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--/.Navbar-->
</header>    

    <!--Mask-->
    <div class="hm-black-light view-main col-md-12">
        <section class="section" style="margin-bottom: 0px;">
            <!--Section heading-->
            <h1 class="section-heading">Popular</h1>
            <!--Section sescription-->
            <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi,
            veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>

            <div class="row">
                <!-- First Movie -->
                <div class="col-lg-3 col-md-6 mb-r">
                    <div class="card card-cascade narrower">

                        <div class="view overlay hm-white-slight">
                            <img src="https://image.tmdb.org/t/p/w500/gGBu0hKw9BGddG8RkRAMX7B6NDB.jpg" class="img-fluid" alt="">
                            <a>
                                <div class="mask waves-effect waves-light" ripple-radius></div>
                            </a>
                        </div>    
                    </div>
                    <div class="card-block text-center">
                        <h4 class="card-title"><strong><a href="">Logan</a></strong></h4>
                    
                        <ul class="rating">
                            <li>Rating:</li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>

                        <!--Description-->
                        <p class="card-text">In the near future, a weary Logan cares for an ailing Professor X in a hideout on the Mexican border. But Logan's attempts to hide from the world and his legacy are upended when a young mutant arrives, pursued by dark forces.
                        </p>

                        <div class="card-footer" style="background-color: black;">

                        </div>
                    </div>
                </div>
                <!-- Second Movie -->
                <div class="col-lg-3 col-md-6 mb-r">
                    <div class="card card-cascade narrower">

                        <div class="view overlay hm-white-slight">
                            <img src="https://image.tmdb.org/t/p/w500/5qcUGqWoWhEsoQwNUrtf3y3fcWn.jpg" class="img-fluid" alt="">
                            <a>
                                <div class="mask waves-effect waves-light" ripple-radius></div>
                            </a>
                        </div>    
                    </div>
                    <div class="card-block text-center">
                        <h4 class="card-title"><strong><a href="">Despicable Me 3</a></strong></h4>
                    
                        <ul class="rating">
                            <li>Rating:</li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>

                        <!--Description-->
                        <p class="card-text">Gru and his wife Lucy must stop former '80s child star Balthazar Bratt from achieving world domination.
                        </p>

                        <div class="card-footer" style="background-color: black;">

                        </div>
                    </div>
                </div>
                
            </div>
        </section>
    </div>
    <!--/.Mask-->
<!--/Navigation & Intro-->

<!--Section: Products v.1-->

<footer style="height: 5%; background-color: black;">
    
</footer>

